* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #bc4249;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 5%;
  margin-bottom: 10px;
}

/* icons navbar*/
nav > ul > li:first-child a {
  background-image: url(./images/instagram.png);
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
}

nav > ul > li:first-child:hover > a {
  background-image: url(/images/instagram.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

#wpp {
  background-image: url(/images/whatsapp.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
}

#facebook {
  background-image: url(/images/facebook.png);
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
  border-radius: 25%;
}

.header.logo img:hover {
  transform: scale(1.2);
}

.style-li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.style-li:hover {
  transform: scale(1.1);
}

.text {
  color: white;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: green;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

/* dropdown menu */

/* BARRA MENU */

.container__menu {
  width: 100%;
  height: 90px;
  background-color: #bc4249;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

.home {
  background-image: url(./images/img-menu.png);
  color: white;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;
}

.home:hover {
  background-image: url(./images/img-menu.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transform: scale(1.1);
  background-color: #bc4249;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}

nav > ul > li > a:hover {
  transform: scale(1.1);
  background-color: #bc4249;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SUBMENU */

nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul:before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a {
  display: block;
  color: black;
  padding-left: 9px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover {
  background: #bc4249;
  color: #fff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Elementos Responsivos */

.icon__menu {
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
}

#label__check {
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu {
  display: none;
}

@media screen and (max-width: 720px) {
  nav > ul {
    flex-direction: column;
    background-color: #bc4249;
    position: fixed;
    left: 0;
    width: 100%;

    height: 0px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }

  nav > ul > li > a:hover {
    transform: scale(1);
  }

  nav ul li ul {
    left: 90px;
  }
  nav > ul > li:hover ul {
    top: 50px;
  }

  nav > ul > li:first-child a {
    background-position: 20px;
  }

  #selected {
    transform: scale(1);
  }

  #label__check {
    display: block;
  }

  .icon__menu {
    display: flex;
  }

  #check__menu:checked ~ nav > ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
  }
}

/* Carrousel main */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.img {
  width: 100%;
  height: 250px;
}

/* Estilos de cards de productos */

.container-product {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #bc4249;
}

.product {
  display: flex;
  flex-direction: column;
  width: 26%;
  padding: 30px;
  margin: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.25s;
  border: 1px solid black;
}

.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.img-description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}
/**************About us********************/
.about-us {
  width: 100%;
}

.title {
  margin-left: 65px;
}

.container-about-us {
  width: 100%;
}
.text-about-us {
  width: 70%;
  line-height: 2em;
  margin: 20px left;
  font-weight: 300;
  padding: 15px;
  opacity: 0.9;
  margin-left: 50px;
  margin-right: 20px;
}

.img-about-us {
  border-radius: 10px;
  height: 300px;
  float: right;
  margin-right: 55px;
}

/******Description icons******/
.principal-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-services {
  width: 100px;
  height: 100px;
}

.container-img {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-description {
  margin-top: 30px;
  opacity: 0.8;
}

/*******Footer******/

.footer {
  width: 100%;
  background-color: #bc4249;
  margin-top: 200px;
}

.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.footer .grupo-1 .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
}

.footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .grupo-1 .box figure img {
  width: 150px;
}

.footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

.footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #a9180586;
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
  transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover {
  color: yellow;
}

.footer .grupo-2 {
  background-color: #a9180586;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
