*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #BC4249;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 25%;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.style-li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.style-li:hover{
    transform: scale(1.1);
}

.text{
    color: white;
}


.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }